* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sono, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(186, 202, 159);
}

header {
    background-color: burlywood;
}

footer {
    background-color: burlywood;
}

.btn-gray {
    background-color: gray;
    border: 2px solid gray;
    color: white;
    border-radius: 5px;
}


.btn {
    background-color: chocolate;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 5px;
    align-self: center;
    display: flex;
    justify-content: center;
}

.card {
    width: 18rem;
}

img {
    border-radius: 20px;
}