$color-primario: rgb(62, 81, 105);
$btn-primario: rgb(236, 202, 202);
$btn-secundario: rgb(216, 173, 202);

@font-face {
    font-family: "gallager";
    src: url(../fonts/gallager.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sono, Verdana, Geneva, Thaoma, Sans-serif;
}

/* Estilos aplicados al nav de secciones */

.button-header {
    background-color: $btn-primario;
    z-index: 5;
}

/* color de fondo del body */


body {
    background: linear-gradient(to right, rgb(243, 205, 229), rgb(222, 196, 247), rgb(159, 198, 199));
    margin: 0;
    padding: 0;
}

/* Estilos del titulo principal */

h1 {
    font-family: gallager;
    font-size: 2.9rem;
    color: $btn-primario;
}

@media (min-width:480px) {
    h1 {
        font-size: 4.1rem;
    }
}

/* Estilos titulos secundarios */

h2 {
    color: $color-primario;
    font-family: gallager;
    font-size: 2.5rem;
}

h3 {
    color: $color-primario;
    font-family: gallager;
    font-size: 2.5rem;
}

/* Estilos boton desplegable del nav */

.dropdown-menu {
    box-shadow: 10px 10px 10px;
}