$color-primario:  burlywood;
$btn-primario:grey;
$btn-secundario: chocolate;

@font-face {
    font-family: "gallager";
    src: url(../fonts/gallager.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sono, Verdana, Geneva, Thaoma, Sans-serif;
}


/* color de fondo del body */

body {
    background-color: rgb(240, 216, 185);
}

h1 {
    font-family: gallager;
    font-size: 4rem;
    color: white;
}


