$color-primario:  burlywood;
$font-first: Sono, Verdana, Geneva, Tahoma, sans-serif;
$btn-primario:grey;
$btn-secundario: chocolate;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* color de fondo del body */
body {
    background-color: rgb(186, 202, 159);
}


