/* Estilos aplicados al formulario de contacto */

.texto {
    color: $color-primario;
    display: flex;
    justify-content: center;
}

input {
    border-radius: 10px;
}

textarea {
    border-radius: 10px;
    height: 100px;
    width: 200px;
} 

input {
    box-shadow: 10px 10px 10px;
}

textarea {
    box-shadow: 10px 10px 10px;
}