.btn-gray {
    background-color: $color-primario;
    border: 1px solid $btn-primario;
    color: $btn-primario;
    border-radius: 5px;
    
    &:hover {
        background-color: $btn-primario;
        color: $color-primario;
    }
}




.btn {
    background-color: $color-primario;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 5px;
    align-self: center;
    display: flex;
    justify-content: center;
}