.card {
    width: 18rem;
    background-color: $btn-secundario;
}

.btn-card {
    background-color: $color-primario;
    color: $btn-primario;

    &:hover {
        background-color: $btn-primario;
        color: $color-primario;
        border: 1px solid $color-primario;
    }
}